*{
    background-color: aqua;

}
h1 {

    color:blueviolet
}
h2{
    color:blue;
}
li{
    list-style-type: disc;
    font-family: 'Martian Mono', monospace;
}
#one{
    color:red;
}
#two{
    color:orange;
}